.footer_container {
	row-gap: 4rem;
	padding-top: 1rem;
}

.footer_logo,
.footer_description {
	color: var(--title-color);
}

.footer_logo,
.footer_form,
.footer_social {
	display: flex;
}

.footer_logo {
	align-items: center;
	column-gap: .5rem;
	font-weight: var(--font-bold);
	margin-bottom: 1.5rem;
}

.footer_logo img {
	width: 1.5rem;
}

.footer_description {
	margin-bottom: 2rem;
}

.footer_form {
	flex-direction: column;
	gap: 1.25rem;
}

.footer_input {
	padding: 20px 56px 20px 24px;
	border: 2px solid var(--first-color-light);
	background: transparent;
	color: var(--text-color);
	outline: none;
}

.footer_content,
.footer_links,
.footer_group {
	display: grid;
}

.footer_content {
	grid-template-columns: repeat(2, max-content);
	gap: 2.5rem;
}

.footer_title {
	font-size: var(--h3-font-size);
	margin-bottom: 1.5rem;
}

.footer_links {
	row-gap: .75rem;
}

.footer_link {
	color: var(--text-color);
	transition: color .3s;
}

.footer_link:hover {
	color: var(--first-color);
}

.footer_group {
	margin-top: 5rem;
	justify-items: center;
	row-gap: 2rem;
}

.footer_social {
	column-gap: 1.25rem;
}

.footer_social-link {
	display: inline-flex;
	padding: .35rem;
	background-color: var(--first-color);
	border-radius: 50%;
	font-size: 1.25rem;
	color: var(--title-color-black);
	transition: background .4s;
}

.footer_social-link:hover {
	background-color: var(--first-color-dark);
}

.footer_copy {
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
}

.footer_message {
	position: absolute;
	transform: translateY(1rem);
}