.pricing_container {
	grid-template-columns: 285px;
	justify-content: center;
	row-gap: 2rem;
}

.pricing_card,
.pricing_shape,
.pricing_list {
	display: grid;
}

.pricing_card {
	row-gap: 2rem;
	background-color: hsla(79, 6%, 64%, .07);
	padding: 2rem 2.5rem;
}

.pricing_img {
	width: 35px;
}

.pricing_shape {
	width: 60px;
	height: 60px;
	background-color: var(--body-color);
	border-radius: 50%;
	place-items: center;
	margin-bottom: 1rem;
}

.pricing_title {
	font-size: var(--h3-font-size);
	color: var(--text-color);
	margin-bottom: 1rem;
}

.pricing_number {
	font-size: var(--h1-font-size);
}

.pricing_list {
	row-gap: 1rem;
}

.pricing_item {
	display: flex;
	column-gap: .5rem;
	align-items: center;
	font-size: var(--small-font-size);
}

.pricing_item i {
	font-size: 1.25rem;
	color: var(--first-color);
}

.pricing_item-opacity {
	opacity: .3;
}

.pricing_button {
	background-color: var(--title-color);
}

.pricing_button:hover {
	background-color: var(--title-color);
}

.pricing_card-active {
	background-color: var(--first-color-dark);
	border: 2px solid var(--first-color-light);
}

.pricing_card-active .pricing_shape {
	background-color: var(--body-color);
}

.pricing_card-active .pricing_item i {
	color: var(--first-color-light;
}

.pricing_card-active .pricing_title,
.pricing_card-active .pricing_number,
.pricing_card-active .pricing_item {
	color: var(--title-color-black);
}