@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ---------- VARIABLE CSS ---------- */
:root {
	--header-height:3.5rem;
	
	/* ---------- COLORS ---------- */
	/* Color mode HSL(hue, saturation, lightness) */
	--first-color: #187bcd;
	--first-color-light: #2a9df4;
	--first-color-alt: #1167b1;
	--first-color-dark: #03254c;
	--first-color-gray:hsl(79,6%,64%);
	--title-color:hsl(180,4%,98%);
	--title-color-black:hsl(180,4%,12%);
	--text-color:hsl(180,4%,72%);
	--text-color-light:hsl(180,4%,65%);
	--body-color:hsl(180,12%,8%);
	
	/* ---------- FONT & TYPOGRAPHY ---------- */
	/* .5rem = 8px | 1rem = 16px ... */
	--body-font: 'Red Hat Display', sans-serif;
	--second-font: 'Kaushan Script', cursive;
	--biggest-font-size:2rem;
	--bigger-font-size:1.5rem;
	--big-font-size:1.25rem;
	--h1-font-size:1.5rem;
	--h2-font-size:1.25rem;
	--h3-font-size:1rem;
	--normal-font-size:.938rem;
	--small-font-size:.813rem;
	
	/* ---------- FONT WEIGHT ---------- */
	--font-bold:700;
	--font-black:900;
	
	/* ---------- Z INDEX ---------- */
	--z-tooltip:10;
	--z-fixed:100;
}

/* ---------- Responsive Typography ---------- */
@media screen and (min-width:1024px){
	:root{
		--biggest-font-size:6rem;
		--bigger-font-size:3.5rem;
		--big-font-size:2.75rem;
		--h1-font-size:2.25rem;
		--h2-font-size:1.5rem;
		--h3-font-size:1rem;
		--small-font-size:.875rem;
		--smaller-font-size:.813rem;
	}
}
